# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=JDCOIN Core
Comment=JDCOIN Core QT test network
GenericName=JDCOIN Digital Currency QT client testnet network
Exec=jdcoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/jdcoin_testnet.png
MimeType=x-scheme-handler/jdc;
Categories=X-Office;X-Finance;
Keywords=internet;jdcoin;zjdc;tjdc;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
